.container {

    &__filtro {
        display: flex;
        justify-content: end;
        padding-right: 40px;
    }

    &__icon {
        cursor: pointer;
        width: 10%;
        right: 0%;
        margin: 5px;
    }

    &__icon:hover {
        background-color: #FFF;
        color: #000;
        opacity: 50%;
        border-radius: 5px;
    }

    &__cardapio {
        display: flex;
        justify-content: center;
        gap: 25px;
        margin: 0px 15px;
        flex-wrap: wrap;
    }

}