.container {
    // BACKGROUND
    background-color: #2e2e2e;
    width: 100%;

    min-height: 100vh;
    height: 100%;

    &__section {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }

    &__title {
        font-size: 60px;
        user-select: none;
        margin: 15px 0;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        margin: 0 250px;
    }

    &__buscador {
        background-color: #3B3B3B;
        width: 330px;
        margin: 15px 250px 0;
    }

    &__filtro {
        margin-top: 20px;
        box-sizing: border-box;
        height: auto;
        margin: 30px 250px;
    }
}